 html {
  background-color: #F2C1AE;
  border-style: dotted;
  border-width: 3px;
  border-color:#A32E00;
}

#Content {
  display:flex;
  color:black;
  background-color:white;
  justify-content: space-between;
}

#OtherIssues {
  width:25%;
  border: 3px #A32E00 solid;
  color:#A32E00;
  font-size: 30px;
  
}

#Media{
  width:75%;
  display:flex;
  flex-direction: column;

}


#comments{
  display:flex;
  flex-direction: column;
  font-size: 25px;
}



#submitComment {
  background-color: #ED9E80; 
  width: 100px;
  margin-left: 45%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20
}

.comment{
  display:flex;
}

.commenttext {
  width:85%;
}

.commentpic{
  width:15%;
}

.img-circle {
  border-radius: 50%;
  width:50px;
  height:50px;
}

#header {
  text-align: center;
  color: #A32E00;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: 'Cabin Sketch', cursive;
}

#Video {
  width:100%;
}

#commentbox {
  width: 500px;
  height:90px;
}
#SchoolMessage {
  font-family: 'Economica', sans-serif;
  font-size:30px;
}

#OtherIssues {
  font-size: 30px;
}

#CommentTitle {
  font-size: 25px;
}