 #Content {
    display:flex;
    color:black;
    background-color:white;
    justify-content: flex-end;
}

#sample1 {
    display:flex;
    background-color: grey;
    color:white;
    justify-content: center;
}

#sample1 .item {
    padding:10px;
    background-color: black;
    border:10px solid grey; 
}
