 html {
  background-color: #F2C1AE;
  border-style: dotted;
    border-width: 3px;
  border-color:#A32E00;
}

#Content {
    display:flex;
    color:black;
    background-color:white;
}

#OtherIssues {
  width:25%;
}

#Media{
  display: flex;
  justify-content:;
  width:75%;
  
}


#comments{
  display:flex;
  
}



#submitComment {
  border: 5px #A32E00 solid; 
  width: 100px;
  font-family: 'Open Sans', sans-serif;
}

.comment{
  display:flex;
}

.commenttext {
  width:75%;
}

.commentpic{
  width:25%;
}

.img-circle {
    border-radius: 50%;
}
