html {
  background-color: #F2C1AE;
  border-style: dotted;
  border-width: 3px;
  border-color:#A32E00;
}

#header{
  text-align: center;
  color: #A32E00;
  font-size: 90px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: 'Cabin Sketch', cursive;
}

#sub {
  text-align: center;
  font-style: italic;
  font-size: 40px;
}

#picture{
  height: 500px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
  border-style: solid;
  border-width: 5px;
  border-color: #A32E00;
  
}

#photos {
  display:block; 
  padding-bottom: 15px;
}

.oneButton {
  display:flex;
  margin-top: 50px;
  margin:auto;
  justify-content:center;
  background-color: #ED9E80 ;
  padding: 10px;
  font-size: 40px;
  font-family: 'Economica', sans-serif;
  font-weight:bold;
}

img {
  width:700px;
  height: 500px;
  
}

