html {
  background-color: #F2C1AE;
  border-style: dotted;
    border-width: 3px;
  border-color:#A32E00;
}

#header{
  text-align: center;
  color: #A32E00;
  font-size: 90px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-family: 'Cabin Sketch', cursive;
}

#sub {
  text-align: center;
  font-style: italic;
}

#picture{
  height: 500px;
  width: 900px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  border-style: solid;
    border-width: 5px;
  border-color: #A32E00;
  
}

.oneButton {
  margin:auto;
  border: 5px #A32E00 solid;
  display: flex;
  padding: 10px;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;

}

