html {
  background-color: #F2C1AE;
  border-style: dotted;
  border-width: 3px;
  border-color:#A32E00;
}

.info {
  display:flex;
  padding:20px;
  margin:20px auto;
  border:5px solid #A32E00;
  width: 60%;
}

.enter {
  border: 5px #A32E00 solid; 
  width: 100px;
  font-family: 'Economica', sans-serif;
  margin-bottom: 180px;
}

h1 {
  color: #A32E00;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}  

#submission {
  display:flex;
  justify-content:center;
}


